@charset "utf-8";
@import url("index.css");
@import url("cadastroUsuarios.css");
@import url("login.css");
@import url("listaAlunos.css");
@import url("iframeListaAlunos.css");
@import url("iframeLista.css");

:root{
    --cor-primaria:#dadada;
    --cor-secundaria:#0b3cdd;
    --font-color: #ffffff;
    --preto-padrao:#f6f5f7;
}

body{
    border: 0px;
    margin: 0px;
}